<div class="w-full">
  <button
    class="bg-sky-800 border-s-sky-100 border-2 mt-1 text-white p-2"
    (click)="
      add({
        name: 'New Recipe',
        description: 'Description of new recipe',
        imagePath: 'https://upload.wikimedia.org/wikipedia/commons/0/0b/RedDot_Burger.jpg',
      })
    "
  >
    New
  </button>
</div>

<div class="flex justify-between flex-wrap gap-y-4">
  @for (item of recipes(); track item.index) {
    <div class="w-[48%]">
      <app-recipes-item [item]="item"></app-recipes-item>
    </div>
  } @empty {
    <li>لا يوجد عناصر لعرضها</li>
  }
</div>
